<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>145687995271-144nmi7jbc54ch2vao78foods1sovr0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145687995271-144nmi7jbc54ch2vao78foods1sovr0g</string>
	<key>API_KEY</key>
	<string>AIzaSyAvT6yFfOHjnApzcG3pKGQq5p6iv3QC930</string>
	<key>GCM_SENDER_ID</key>
	<string>145687995271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cosa.base</string>
	<key>PROJECT_ID</key>
	<string>gs188-base</string>
	<key>STORAGE_BUCKET</key>
	<string>gs188-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145687995271:ios:3f0da1283c97d0fd</string>
	<key>DATABASE_URL</key>
	<string>https://gs188-base.firebaseio.com</string>
</dict>
</plist>