<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ELRO Connects</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>silver crest</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.32</string>
	<key>CFBundleVersion</key>
	<string>50</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>cd6b4a01848755e804afd334d7477880ca9cd513</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App requires your permission to access Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App requires your permission to access the calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>App requires your permission to access the camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App needs access to your geographic information for weather access and requires your consent to stay in touch</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App needs access to your geographic information for weather access and requires your consent to stay in touch</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App needs access to your geographic information for weather access and requires your consent to stay in touch</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App requires your permission to access the microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>App requires your permission to access sports and fitness</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App requires your permission to access an album</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App requires your permission to access an album</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
